body {
  min-width: 350px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}
h1 {
  text-align: center;
  background-color: var(--background-color-lighter);
  margin: 0;
  padding: 0.2em;
  font-size: 1.5em;
}
.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
}

.status p {
  margin: 1em 0 0 0;
}

button.toggle {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  color: var(--color);
  cursor: pointer;
  border: 1px solid var(--color);
}

button.toggle.on {
  background-color: var(--danger);
}

@keyframes repeatedbackground {
  0% {
    padding: 5px;
    transform: rotate(0);
  }
  50% {
    padding: 45px;
    transform: rotate(180deg);
  }
  100% {
    padding: 5px;
    transform: rotate(360deg);
  }
}

button.toggle.off {
  background-color: var(--background-color);
  background-image: url(./xTapper2.svg);
  background-blend-mode: soft-light;
  background-size: contain;
  background-origin: content-box;
  padding: 10px;
  animation-name: repeatedbackground;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

button.toggle.off:hover {
  background-color: var(--background-color-lighter);
}

.stats-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header header"
    "users tweets"
    "message message";
}

.stats h3,
.stats p {
  grid-area: header;
  display: block;
}

.stats h3 {
  margin: 0;
  padding-left: 1em;
}

.stats .tweets {
  grid-area: tweets;
}

.stats .users {
  grid-area: users;
}

.stats .tweets,
.stats .users {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5em;
}

.stats .server-error {
  grid-area: message;
  padding: 0 1.5em;
  color: var(--warning);
}

.stats b.count {
  font-family: monospace;
  font-size: 1.5em;
  display: block;
}

.stats .url {
  padding-left: 1em;
  color: #908ca8;
  margin-left: 0.3em;
  white-space: nowrap;
  max-width: 24ch;
  text-overflow: ellipsis;
  overflow: hidden;
  grid-area: message;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em 0.3em;
  background-color: var(--background-color-lighter);
}

footer a {
  color: var(--text-link);
  font-weight: bold;
  text-decoration: underline;
  margin-left: 1em;
}
