.bookmarker-toolbox {
	position: fixed;
	z-index: 999;
	top: 0;
	background-color: #16181c;
	border-left: 5px solid #282828;
	width: 275px;
	right: 0;
	height: 99vh;
	padding: 10px 20px;
	font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
}

.bookmarker-toolbox h1 {
	font-size: 1.5em;
	font-family: inherit;
	margin: 0;
}

.bookmarker-toolbox .current-list {
	justify-content: center;
	margin: 0.5em 0;
}

.bookmarker-toolbox .current-list div:first-child {
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}

.bookmarker-toolbox ul {
	list-style: none;
	padding: 0;
}

:root {
	--bookmarker-list-color-1: #5869e4;
	--bookmarker-list-color-2: #1a815b;
	--bookmarker-list-color-3: #811a36;
	--bookmarker-list-color-4: #814f1a;
	--bookmarker-list-color-5: #391a81;
	--bookmarker-list-color-6: #1a817c;
	--bookmarker-list-color-7: #2d811a;
	--bookmarker-list-color-8: #0e3c65;
	--bookmarker-list-color-9: #58e461;
	--bookmarker-list-color-active: transparent;
}

/* article.bookmarked-1 {
	background: var(--bokmarker-list-color-1)
}
article.bookmarked-2 {
	background: var(--bokmarker-list-color-2)
}
article.bookmarked-3 {
	background: var(--bokmarker-list-color-3)
}
article.bookmarked-4 {
	background: var(--bokmarker-list-color-4)
}
article.bookmarked-5 {
	background: var(--bokmarker-list-color-5)
}
article.bookmarked-6 {
	background: var(--bokmarker-list-color-6)
}
article.bookmarked-7 {
	background: var(--bokmarker-list-color-7)
}
article.bookmarked-8 {
	background: var(--bokmarker-list-color-8)
}
article.bookmarked-9 {
	background: var(--bokmarker-list-color-9)
} */

article > div.bookmarker-tag {
	position: absolute;
	left: 0;
	top: 5em;
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-size: 10px;
	padding: 1px;
}

.bkmrk-selection [data-testid="tweet"]:hover {
    /* border-left: 2px solid var(--bookmarker-list-color-active); */
    cursor: cell;
}

.bkmrk-selection [data-testid="tweet"]:hover * {
    cursor: cell;
}

.hidden {
    display: none;
}

.bookmarker-toolbox .toolbar-actions {
	display: flex;
	margin: 10px 0;
}

.bookmarker-toolbox .toolbar-actions a {
	display: flex;
	margin: 0 5px;
}

.bookmarker-toolbox .toolbar-actions .separator {
	flex: 1;
}

.bookmarker-toolbox .help {
	font-size: smaller;
	margin-top: auto;
	margin-bottom: 5px;
}

.bookmarker-toolbox .form-container {
	margin-top: 20px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 10px 0;
}

.bookmarker-toolbox .form-container select {
	padding: 5px;
	margin: 5px;
}

.bookmarker-toolbox .form-container .extra-buttons {
	display: flex;
	padding: 0 .5em;
	margin-top: 20px;
}

.bookmarker-toolbox .form-container .extra-buttons button {
	display: inline-block;
}

.bookmarker-toolbox .form-container .extra-buttons button:first-child {
	flex: 1;
	margin-right: 5px;
}

article .xTapper-bookmark {
	width: 15px;
	height: 40px;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% calc(100% - 10px), 0% 100%, 0% 0%);
	padding: 0.2em 0.3em;
	border-radius: 3px;
	text-align: center;
	position: fixed;
}