:root {
    --primary-80: 179 198 250;
    --dark-80: 27 27 35;
    --background-color-lighter: rgb(var(--primary-80) / 15%);
    --background-color: rgb(var(--dark-80));
    --background-color-alt: #22222d;
    --color: whitesmoke;
    --text-link: rgb(199 199 199);
    --danger: rgb(117, 41, 41);
    --warning: rgb(202, 196, 110);
    --primary: rgb(179 198 250);
}

body {
    background-color: var(--background-color);
    color: var(--color);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button.primary, button.danger {
    padding: 0.5em;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

button.primary {
    background-color: var(--primary);
}

button.danger {
    background-color: var(--danger);
    color: var(--color);
}