body {
    font-size: 16px;
}

header {
    padding: 1em 1em;
    margin: 0;
    background-color: var(--background-color-lighter);
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

nav {
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--background-color-lighter);
}

nav a {
    margin-right: 1em;
    color: var(--text-link);
    text-decoration: none;
}

nav a.active {
    text-decoration: underline;
}

main {
    padding: 0.5em 2em;
}

.row {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: 1px solid var(--background-color-lighter);
}

input {
    padding: 0.5em;
    margin: 0 1em;
    border: none;
    outline: none;
    background-color: var(--background-color-lighter);
    color: var(--text-color);
    min-width: 42ch;
}

.row button {
    margin: 0.5em;
}

.row input[type="checkbox"] {
    height: 1em;
    width: 1em;
    min-width: auto;
}