.tweet-view {
    padding: 0.5em 0.2em;
}

.tweet-view:nth-child(odd) {
    background-color: var(--background-color-alt);
}

.tweet-view a {
    color: var(--text-link);
    padding: 0.2em;
}

.tweet-view .tweet-container {
    display: flex;
    flex-direction: column;
}

.tweet-view .tweet-container .tweet-metadata {

}

.tweet-view .tweet-container .tweet-text {
    padding: 0.5em;
}

.tweet-view .tweet-container .tweet-media {
    
}

.tweet-view .tweet-container .tweet-media a {
    position: relative;
    display: inline-block;
    max-width: 200px;
}

.tweet-view .tweet-container .tweet-media a img {
    width: 100%;
}

.tweet-view .tweet-container .tweet-media a.video:after {
    position: absolute;
    left:0;
    top:0;
    content:'video';
    background-color: black;
    padding: 0.1em;
    z-index: 9999;
    font-size: small;
}