.add-list-form {
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
}

.add-list-form > * {
    margin-top: 5px;
}

.add-list-form h2 {
    margin: 0;
    font-size: small;
}

.add-list-form input {
    padding: 5px;
}

.add-list-form .row-color-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-list-form .row-actions {
    display: flex;
}

.add-list-form .row-color-number input[type="number"] {
    width: 50px;
}

.add-list-form .row-actions button {
    padding: 5px;
}

.add-list-form .row-actions button[type="submit"] {
    flex: 1;
}