/* ul {
	list-style: none;
	padding: 0;
} */

.bookmarker-toolbox ul li {
	display: flex;
	margin-bottom: 5px;
}

.bookmarker-toolbox ul li button {
	flex: 1;
	display: flex;
	padding: 0.75em;
	border: 0;
	background: transparent;
	align-items: center;
	cursor: pointer;
}

.bookmarker-toolbox ul li button span {
	flex: 1;
	margin-left: 5px;
}

.bookmarker-toolbox ul li.active {
	/* border-left: 2px solid var(--bookmarker-list-color-active); */
}